# Telegram Bot Token
TELEGRAM_TOKEN=your_telegram_bot_token_here

# Instagram Credentials
INSTA_USERNAME=your_instagram_username
INSTA_PASSWORD=your_instagram_password

# Admin Telegram ID
ADMIN_ID=your_telegram_id_here

# Bot Settings
DAILY_LIMIT=10000
MIN_DELAY=30
MAX_DELAY=10000
